
.menu{
    width:100%;
    display:flex;
    font-size:50px;
    justify-content: space-between;
    align-items: center;
 
}
 .foto{
  
    border-radius: 30px;
    width:50%;
}
.containerphone{
    width: 100%;
    background-color: rgba(199, 196, 199, 0.137);
    align-items: center;
}
.card-body{
    width: 100%;
}
.cardf{
    margin-top:30px;
    background-color: rgba(199, 196, 199, 0.137);
    color:black;
}

.containertable{
    width: 100%;
    background-color: rgba(199, 196, 199, 0.137);
}

.bg{
    background-image: url("img/abbbb.jpg");
    height:80%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.bg{
    color:White;
    align-items: center;
    padding:20%;
    text-align: justify;
    font-weight: 300;
}
.bg p{
    text-align: justify;
}
.card-img-top{
    width:250px;
    height:250px;
}







